.home {
  .hero {
    background-image: url(../images/tour-01.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .homeStuff {
    margin: auto;
    max-width: $content-width;
  }
}